<h1>About Us</h1>
<p>
This site was meant to be a questions and answers site, with a focus on school topics. Users are encouraged to post questions or requests information within sensible limits.
</p>