<% if signed_in? %>
<table class="front" summary="For signed-in users">
<tr>
<td class="main">
<h1 class="micropost">What's up?</h1>
<%= render 'shared/micropost_form' %>
<%= render 'shared/feed' %>
</td>
<td class="sidebar round">
<%= render 'shared/user_info' %>
</td>
</tr>
</table>
<% else %>
<h1>Recent posts</h1>
<p>
This is where recent questions posted would be displayed. In order to reply to these post, you must sign in. Don't have an account, then sign up using the sign up buuton located below.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>